/****************************** Tag Selectors *******************************/
body {
  background-color: #ffbd39;
}

hr {
  background-color: none;
  border-color: black;
  border-style: solid none none none;
  border-width: 2px;
  height: 10px;
  width: 100%
}



/***************************** Class Selectors **********************/











/****************************** IDs Selectors ************************/
